.protfilo_bg {
    background: #222;
    padding-top: 65px;
    height: 100vh;
}

.ul_portfilo {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem 1rem;
    text-decoration: none;
}

.websit_font {
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 34.758px;
    /* 144.823% */
}

.websit_font1 {
    color: #D2D1D1;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.758px;
    /* 144.823% */
}

.link_web {
    text-decoration: none;
    color: #FFF;
}

.link_web1 {
    text-decoration: none;
    color: #D2D1D1;
}

@media (max-width: 768px) {
    .ul_portfilo {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 2rem 1rem;
        text-decoration: none;
        flex-direction: column;
    }

    .websit_font {
        text-decoration: none;
        color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 34.758px;
        /* 144.823% */
    }

    .websit_font1 {
        color: #D2D1D1;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 34.758px;
        /* 144.823% */
    }

    .link_web {
        text-decoration: none;
        color: #FFF;
    }

    .link_web1 {
        text-decoration: none;
        color: #D2D1D1;
    }
}